{% extends "base.html" %}
{% load some_filter %}
{% block content %}


<table class="table table-bordered border-primary table-sm">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Nav</th>
      <th scope="col">%</th>
    </tr>
  </thead>
  <tbody>
    
      {% for i in nav_dict %}
        <tr>
       
          <td>{{i.date}}</td>
          <td>{{i.nav}}</td>
          <td>{{i.percentage}}</td>
          
        </tr>
        
      {% endfor %}
    
  </tbody>
</table>

{% endblock %}

