{% extends "base.html" %}
{% load some_filter %}
{% block content %}


<button type="button" class="btn btn-outline-success"><a href='{% url "data" t="3months" %}?pk={{key}}'>
  3Months </a><span class="badge bg-secondary"></span>
</button>

<button type="button" class="btn btn-outline-success"><a href='{% url "data" t="2months" %}?pk={{key}}'>
  2Months </a><span class="badge bg-secondary"></span>
</button>

<button type="button" class="btn btn-outline-success"><a href='{% url "data" t="1months" %}?pk={{key}}'>
  1Months </a><span class="badge bg-secondary"></span>
</button>

<button type="button" class="btn btn-outline-success"><a href='{% url "data" t="6months" %}?pk={{key}}'>
  6Months </a><span class="badge bg-secondary"></span>
</button>



<button type="button" class="btn btn-outline-success"><a href='{% url "data" t="1years" %}?pk={{key}}'>
  1year </a><span class="badge bg-secondary"></span>
</button>

<button type="button" class="btn btn-outline-success"><a href='{% url "data" t="2years" %}?pk={{key}}'>
  2years </a><span class="badge bg-secondary"></span>
</button>


<button type="button" class="btn btn-outline-success"><a href='{% url "data" t="3years" %}?pk={{key}}'>
  3years </a><span class="badge bg-secondary"></span>
</button>
<button type="button" class="btn btn-outline-success"><a href='{% url "data" t="5years" %}?pk={{key}}'>
  5years </a><span class="badge bg-secondary"></span>
</button>

{% endblock %}