{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Code</th>
    </tr>
  </thead>
  <tbody>
  
   
    	{% for i in fund_data %}
       <tr>
    	  <td><a href="{% url "headers" pk=i.id %}">{{i.name}}</a></td>
    	  <td>{{i.code}}</td>
         </tr>
    	{% endfor %}
   
  </tbody>
</table>

{% endblock %}

