{% extends "base.html" %}
{% load some_filter %}
{% block content %}
<table class="table table-bordered border-primary table-sm">
  <thead>
    <tr>
      <th scope="col">Fund Name</th>
      <th scope="col">Date</th>
      <th scope="col">NAV</th>
      <th scope="col">%</th>
    </tr>
  </thead>
  <tbody>
    	<tr> <td>For 1st Month </td></tr>
      	{% for i in one_mlist %}
		        <tr>
		          <td>{{i.fund_name}}</td>
		          <td>{{i.date}}</td>
		          <td>{{i.nav}}</td>
		          <td>{{i.percentage}}</td>
		        </tr>
        {% endfor %}
        <tr> <td>For 2nd Month </td></tr>
        {% for i in two_mlist %}
		        <tr>
		          <td>{{i.fund_name}}</td>
		          <td>{{i.date}}</td>
		          <td>{{i.nav}}</td>
		          <td>{{i.percentage}}</td>
		        </tr>
        {% endfor %}
        <tr> <td>For 3rd Month </td></tr>
        {% for i in three_mlist %}
		        <tr>
		          <td>{{i.fund_name}}</td>
		          <td>{{i.date}}</td>
		          <td>{{i.nav}}</td>
		          <td>{{i.percentage}}</td>
		        </tr>
        {% endfor %}
        <tr> <td>For 6 Months </td></tr>
        {% for i in six_mlist %}
		        <tr>
		          <td>{{i.fund_name}}</td>
		          <td>{{i.date}}</td>
		          <td>{{i.nav}}</td>
		          <td>{{i.percentage}}</td>
		        </tr>
        {% endfor %}
        <tr> <td>For 1 year </td></tr>
        {% for i in one_ylist %}
		        <tr>
		          <td>{{i.fund_name}}</td>
		          <td>{{i.date}}</td>
		          <td>{{i.nav}}</td>
		          <td>{{i.percentage}}</td>
		        </tr>
        {% endfor %}
        <tr> <td>For 2 year </td></tr>
        {% for i in two_ylist %}
		        <tr>
		          <td>{{i.fund_name}}</td>
		          <td>{{i.date}}</td>
		          <td>{{i.nav}}</td>
		          <td>{{i.percentage}}</td>
		        </tr>
        {% endfor %}
        <tr> <td>For 3 year </td></tr>
        {% for i in three_ylist %}
		        <tr>
		          <td>{{i.fund_name}}</td>
		          <td>{{i.date}}</td>
		          <td>{{i.nav}}</td>
		          <td>{{i.percentage}}</td>
		        </tr>
        {% endfor %}
        <tr> <td>For 5 year </td></tr>
        {% for i in five_ylist %}
		        <tr>
		          <td>{{i.fund_name}}</td>
		          <td>{{i.date}}</td>
		          <td>{{i.nav}}</td>
		          <td>{{i.percentage}}</td>
		        </tr>
        {% endfor %}
  </tbody>
</table>
{% endblock %}
